.menu {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(234, 234, 234);
  font-size: 38px;
  top: 30px;
  right: 30px;
  height: 50px;
  width: 50px;
  cursor: pointer;

  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
